* {
  margin: 0px;
  padding: 0px;
}

body{
    background-color: black;
    color: white;
    text-align: center;
}

div {

  background-image: linear-gradient(rgba(9, 9, 9, 0.45), rgba(15, 14, 14, 0.45)),
    url("images/hot-air-balloon.jpg");
  background-size: cover;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
  font-size: x-large;
  width: 200px;
  height: 200px;

  /* SIMPLE BORDER */

  /* border: 2px yellow solid; */

  /* GRADIENT BORDER WITHOUT ROUND CORNERS */

  /* border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 1; */

  /* GRADIENT BORDER WITH CORNERS */

  background: url("images/hot-air-balloon.jpg") padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  background-size: cover;

}

.container {
    display: grid;
    justify-content: center;
    background-color: black;
    background-image: none;
    border-radius: 0px;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    width: 80%;
    margin: auto;
    height: auto;
    justify-content: center;
    align-content: center;

    /* SHOW THREE COLUMNS */
    /* grid-template-columns: auto auto auto; */

    /* SHOW VARIABLE COLUMNS */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 100px;
    grid-row-gap: 20px;
    grid-column-gap:20px ;
  }

#item1{
    animation: FADE-IN  1s ease-in 0s 1 normal;
}

@keyframes FADE-IN
{
    from{ opacity: 0%;}
    to{opacity: 100%;}
}

#item2{
    animation: FADE-OUT  5s ease-in 0s 1 normal;
}

@keyframes FADE-OUT
{
    from{ opacity: 100%;}
    to{opacity: 0%;}
}

#item3{
    animation: ZOOM-IN  5s ease-in 0s 1 normal;
}

@keyframes ZOOM-IN
{
    0% { transform: scale(1);}
    50% {transform: scale(1.1);}
    100% { transform: scale(1);}
}

#item4{
    animation: ZOOM-OUT  5s ease-in 0s 1 normal;
}

@keyframes ZOOM-OUT
{
    from{ transform: scale(1.1);}
    to{transform: scale(1);}
}

#item5{
    animation: SLIDE-IN 2s ease-in 0s 1 normal;
}

@keyframes SLIDE-IN
{
    from{ transform: translate(0px);}
    to{transform: translate(20px);}
}

#item6{
    animation: SLIDE-OUT  5s ease-in 0s 1 normal;
}

@keyframes SLIDE-OUT
{
    from{ transform: translate(20px);}
    to{transform: translate(0px);}
}

#item7{
    animation: ROLL-IN  5s ease-in 0s 1 normal;
}

@keyframes ROLL-IN
{
    from{ transform: rotateY(0deg);}
    to{transform: rotateY(180deg);}
}

#item8{
    animation: ROLL-OUT 5s ease-in 0s 1 normal;
}

@keyframes ROLL-OUT
{
    from{ transform: rotateY(180deg);}
    to{transform: rotateY(0deg);}
}

#item9{
    animation: SLIDE-TOP  5s ease-in 0s 1 normal;
}

@keyframes SLIDE-TOP
{
    from{ transform: translate(0px,0px);}
    to{transform: translate(20px,20px);}
}

#item10{
    border-radius: 50%;
    border: none;
    border-bottom: 5px yellow dashed;
    background-image: none;
    animation: LOADER 5000ms linear 0s infinite normal;
}

@keyframes LOADER
{
    from{ transform: rotateZ(0deg);}
    to{transform: rotateZ(365deg);}
}

#item11{
    border-radius: 50%;
    border: none;
    background-image: url("images/loader.png");
    animation: LOADER2  5s linear 0s infinite normal;
}

#item11 p{
    font-size: 25rem;
}

@keyframes LOADER2
{
    from{ transform: rotateZ(0deg);}
    to{transform: rotateZ(365deg);}
}

#item12{
    border-radius: 50%;
    border: 20px #1177FF solid;
    border-bottom: 20px #21A9FF solid;
    background-image: none;
    animation: LOADER3  5s ease-in-out 0s infinite normal;
}

@keyframes LOADER3
{
    /* HERE IS SIMPLE LOADER */

    /* from{ transform: rotateZ(0deg);}

    to{transform: rotateZ(365deg);} */

    /* HERE IS ALTERNATIVE LOADER */

    0%{transform: rotateZ(0deg); border-left: 20px #21A9FF  solid ;}

    50%{transform: rotateZ(180deg);}

    100%{transform: rotateZ(360deg);}
}